.about {

    // .about__container

    &__container {
    }

    // .about__content

    &__content {
        display: flex;
        gap: 50px;
    }

    // .about__text

    &__text {
        font-size: 28px;
        @media (max-width: 1920px) {
            font-size: 25px;
        }
        @media (max-width: 1600px) {
            font-size: 22px;
        }
        @media (max-width: 1200px) {
            font-size: 20px;
        }
        @media (max-width: 991.98) {
            font-size: 18px;
        }
        @media (max-width: 575.98) {
            font-size: 16px;
        }
    }

    // .about__img

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 991.98px) {
            display: none;
        }
        img {
            width: 70%;
            height: auto;
        }
    }
}
.container {
}
.row {
}
.col {
}
.title {
}
.img-fluid {
}
