footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 45px 0;
    border-top: 2px solid rgba(233, 78, 27, 0.30);
    padding: 20px 0;
    color: $color-dark;
    font-family: Jost;
    font-size: 27px;
    font-weight: 400;
    line-height: 120%; /* 32.4px */
    gap: 20px;
    @media (max-width: 767.98px) {
        font-size: 18px;
        align-items: start;
    }
    @media (max-width: 575.98px) {
        flex-wrap: wrap;
        div:nth-child(2) {
            order: 3;
        }
        div:nth-child(3) {
            order: 2;
        }
    }

    .button {
        padding: 11px 45px;
        @media (max-width: 1800px) {
            padding: 9px 35px;
        }
        @media (max-width: 1600px) {
            padding: 8px 30px;
        }
        @media (max-width: 1400px) {
            padding: 7px 25px;
        }
        @media (max-width: 992px) {
            padding: 7px 18px;
        }
        
        img {
            @media (max-width: 1400px) {
                width: 40px;
                height: 40px;
            }
            @media (max-width: 1400px) {
                width: 36px;
                height: 36px;
            }
        }
    }

    .button a {
        color: #FFF;
        font-family: "Jost";
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 25px */
        white-space: nowrap;
        @media (max-width: 1800px) {
            font-size: 22px; 
        }
        @media (max-width: 1600px) {
            font-size: 20px; 
        }
        @media (max-width: 1400px) {
            font-size: 16px; 
        }
        @media (max-width: 1300px) {
        }
        @media (max-width: 1199.98px) {

        }
    }
    .dev img {
        transition: 0.5s ease;
    }
    .dev img:hover {
        transition: 0.5s ease;
        transform: rotate(360deg);
    }
}
