.sertificats {
    margin: 70px 0;
    @media (max-width: 767.98px) {
        margin-bottom: 0;
    }

    .container {
        position: relative;
        height: 828px;
        @media (max-width: 767.98px) {
            margin-right: 0;
            padding-right: 0;
            max-width: 668px;
            height: auto;
        }
    }
    // .sertificats__wrapper

    &__wrapper {
        // gap: 20px;
        height: 100%;
        flex-wrap: nowrap;
        overflow: visible;
        // overflow: hidden;
        position: relative;
        @media (max-width: 767.98px) {
            overflow: visible;
        }
    }

    // .sertificats__item

    &__item {
    }

    // .sertificats__item-bg

    &__item-bg {
        padding: 30px;
        border: 2px solid rgba(233, 78, 27, 0.30);
        // filter: blur(1.5px); 
        // * {
        //     filter: none;
        // }
        @media (max-width: 767.98px) {
            padding: 17px;
        }
        img {
            width: 100%;
            // filter: none;
            // z-index: 2;
        }
        // img.no-blur {
        //     filter: none;
        // }
    }
}
.sertificats-button-next,
.sertificats-button-prev {
    @media (max-width: 767.98px) {
        display: none;
    }
}

.swiper-sertificats {
    @media (max-width: 1600px) { // последняя правка
        overflow: visible; // последняя правка
    }
    @media (max-width: 575.98px) {
        overflow: visible;
    }
}