html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

html {
    font-size: 18px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
    @media (min-width: 1500px) {
        font-size: 16px;
    }
    @media (min-width: 1700px) {
        font-size: 17px;
    }
    @media (min-width: 1921px) {
        font-size: 18px;
    }
}

body {
    display: flex;
    flex-direction: column;
    color: black;
    counter-reset: steps;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    background-image: url(/img/wave_bg.svg);
    background-repeat: repeat-y;
    background-position: 100% 0; 
    // background-position: 50vw top;
    // background-size: 100% auto;
    @media (max-width: 1560px) {
        background-position: 300% 0;
    }
    @media (max-width: 1350px) {
        background-position: 600% 0;
    }
    @media (max-width: 1200px) {
        background-position: -400% 0;
    }
    @media (max-width: 360px) {
        background-position: left top;
    }
    .footer-wrapper {
        margin-top: auto;
    }
    .fader {
        width: 100%;
        height: 100vh;
        content: "";
        background-color: rgba(255, 255, 255, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
        opacity: 0;
        backdrop-filter: blur(5px);
    }
    &.fixed {
        overflow: hidden;
        position: relative;
        @media (min-width: 992px) {
            padding-right: 17px;
        }
        .fader {
            display: block;
            opacity: 1;
        }
        .header--index {
            @media (min-width: 992px) {
                padding-right: 17px;
            }
        }
    }
}

.page-content {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: unset;
    @media (max-width: 991px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.container {
    @media (min-width: 1200px) and (max-width: 1920px) {
        max-width: 80%;
    }
    @media (min-width: 1921px) {
        max-width: 1890px;
    }
}

.navbar-brand {
    @media (min-width: 1200px) {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gilroy", sans-serif;
}

.row {
    position: relative;
}

a {
    text-decoration: none;
    color: $color-dark;
    @media (any-hover: hover){
        &:hover{
            color: $color-red;
        }
    }
}

.dnone {
    display: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 45px;
    border-radius: 30px;
    color: #FFF;
    background: $color-red;
    gap: 10px;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 130%; /* 32.5px */ 
    border: 0;
    &:hover{
        background: #e04613;
    }
    // & a {
    //     color: #FFF;
    //     font-family: "Jost", sans-serif;
    //     font-size: 25px;
    //     font-style: normal;
    //     font-weight: 400;
    //     line-height: 100%; /* 25px */
    //     text-transform: capitalize;
    //     &:hover{
    //         color: #FFF;
    //     }
    // }
    @media (max-width: 767.98px) {
        font-size: 18px;
        padding: 10px 20px;
    }
}
a.button {
    display: inline-block;
    color: #FFF;
    font-family: "Jost", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 25px */
    text-transform: capitalize;
    &:hover{
        color: #FFF;
    }
}

.title {
    color: #0A101A;
    font-family: "Jost", sans-serif;
    font-size: 83px;
    font-weight: 500;
    line-height: 120%; /* 99.6px */
    opacity: 0.8;
    margin: 60px 0;
    @media (max-width: 767.98px) {
        margin: 40px 0;
    }
    @media (max-width: 575.98px) {
        margin: 30px 0;
    }
    span {
        color: $color-red;
    }
    @media (max-width: 767.98px) {
        font-size: 40px;
    }
}

.swiper-button-next, .swiper-button-prev {
    width: 80px;
    height: 80px;
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @media (max-width: 991.98px) {
        width: 60px;
        height: 60px;
    }
    @media (max-width: 767.98px) {
        width: 42px;
        height: 42px;
    }
}

.swiper-button-next {
    top: 50%;
    right: 0;
    @media (min-width: 1600px) {
        right: -50px;
    }
    // @media (max-width: 575.98px) {
    //     right: 0;
    // }
}

.swiper-button-prev {
    left: 0;
    top: 50%;
    @media (min-width: 1600px) {
        left: -50px;
    }
    // @media (max-width: 575.98px) {
    //     left: 0;
    // }
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: url(../img/slider-arrow.svg);
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0; 
    @media (max-width: 991.98px) {
        width: 60px;
        height: 60px;
    }
    @media (max-width: 767.98px) {
        width: 42px;
        height: 42px;
    }
}

.swiper-button-prev::after {
    transform: rotate(180deg);
}

.swiper-button-disabled {
    display: none;
}

.swiper-container {
    position: relative;
}