$white: #ffffff;
$black: #000000;

$color-red: #E94E1B;
$color-green: #6F8C54;
$color-dark: #0A101A;
$color-gradient: linear-gradient(180deg, rgba(223, 83, 31, 0.40) 7.81%, rgba(255, 164, 145, 0.70) 44.79%, rgba(111, 140, 84, 0.40) 100%);
